.card__name {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.card__stats {
  font-size: 13px;
  line-height: 30px;
  color: $greyish-black;
}

.card__price {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}
