.card {
  margin-bottom: 30px;

  border: 1px solid $grey-light;
}

.card__item-img {
  display: block;
  width: 260px;
  height: 195px;
}

.card__info {
  padding: 27px;
  padding-bottom: 26px;
}

.card__name {
  margin: 0;
  margin-bottom: 7px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.411em;
  color: $color-main;
}

.card__stats {
  display: block;
  padding-bottom: 19px;
  margin-bottom: 21px;

  line-height: 2.307em;
  color: $grey;

  border-bottom: 1px solid $grey-light;
}

.card__price {
  font-weight: 700;
  font-size: $font-size-s;
  line-height: 1.6em;
  color: $color-main;
}

@media (min-width: $screen-sm) {
  .card {
    margin-bottom: 54px;

    &--basket {
      .card__name {
        margin-bottom: 8px;
      }
    }

    &--big-basket {
      .card__name {
        max-width: 200px;
      }
    }
  }

  .card__item-link {
    display: flex;

    picture {
      flex-shrink: 0;
    }
  }

  .card__item-img {
    flex-shrink: 0;
    width: 332px;
    height: 332px;
  }

  .card__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    padding-left: 28px;
  }

  .card__name {
    margin-bottom: 5px;

    font-size: $font-size-m + 3;
    line-height: 1.2em;
  }

  .card__stats {
    display: flex;
    width: 100%;
    margin-bottom: auto;

    font-size: $font-size-s;
    line-height: 2em;

    border: none;
  }

  .card__price {
    padding-top: 23px;
    padding-left: 5px;

    font-size: $font-size-m;
    line-height: 1.41em;

    border-top: 1px solid $grey-light;
  }
}

@media (min-width: $screen-md) {
  .card {
    max-width: 316px;
    margin-bottom: 58px;
  }

  .card__item-link {
    height: 100%;
    flex-direction: column;
  }

  .card__item-img {
    display: block;
    width: 314px;
    height: 462px;
  }

  .card__info {
    height: 100%;
    padding-top: 26px;
  }

  .card--basket .card__info {
    padding-left: 25px;
  }

  .card--basket .card__name {
    margin-bottom: 5px;
  }

  .card--big-basket .card__name {
    margin-left: -2px;
  }

  .card--big-basket .card__stats {
    margin-left: -3px;
  }

  .card--big-basket .card__price {
    padding-top: 22px;
    margin-left: -3px;
  }

  .card__stats {
    padding-bottom: 14px;
  }

  .card__price {
    padding-left: 0;
    padding-top: 23px;
  }
}
