.contacts__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.contacts__text {
  font-size: 15px;
  line-height: 30px;
  color: $greyish-black;
}
