.field-radio {
  display: block;
  margin-bottom: 25px;
}

.field-radio__input {
  display: none;
}

.field-radio__text {
  position: relative;

  display: block;
  padding-left: 62px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.058em;

  &::before,
  &::after {
    position: absolute;
    left: 0;

    content: "";
    display: block;
  }

  &::before {
    top: -10px;

    width: 40px;
    height: 40px;

    border: 2px solid $grey;
    border-radius: 50%;
  }

  &::after {
    top: 2px;
    left: 12px;

    display: none;
    width: 16px;
    height: 16px;

    background-color: $color-secondary;
    border-radius: 50%;
  }
}

.field-radio__input:checked + .field-radio__text::after {
  display: block;
}

.field-radio:last-of-type .field-radio__text {
  margin-bottom: 45px;
}

@media (min-width: $screen-sm) {
  .field-radio {
    margin-bottom: 56px;
  }

  .field-radio__text {
    padding: 0;
    padding-left: 100px;

    font-size: $font-size-m + 2;
    line-height: 0.95em;

    &::before {
      top: -16px;
      left: 20px;

      width: 52px;
      height: 53px;
    }

    &::after {
      top: -1px;
      left: 35px;

      width: 22px;
      height: 22px;
    }
  }

  .field-radio:last-of-type .field-radio__text {
    margin-bottom: 56px;
  }
}
