.field-checkbox {
  display: block;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__text {
  display: block;
  margin-bottom: 44px;
  padding: 0 64px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.058em;
}

@media (min-width: $screen-sm) {
  .field-checkbox {
    min-width: 35%;
    margin-bottom: 60px;
  }

  .field-checkbox__text {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $screen-md) {
  .field-checkbox {
    min-width: 30%;
  }
}
