.field-text-wrapper {
  position: relative;

  &::before {
    position: absolute;
    top: -37px;
    left: 62px;
    content: "";
    display: block;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }
}

@media (min-width: $screen-sm) {
  .field-text-wrapper::before {
    display: none;
  }
}
