.field-text__name {
  font-weight: 700;
  font-size: $font-size-m;
  line-height: $line-height-s;
}

.field-text__label-text {
  font-weight: 700;
  font-size: $font-size-m;
  line-height: $line-height-xs;
  color: $color-secondary;
}

.field-text__input {
  font: inherit;
  font-size: 17px;
  line-height: $line-height-s;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}
