.field-checkbox-wrapper {
  position: relative;

  &::before {
    position: absolute;
    top: -44px;
    left: 62px;
    content: "";
    display: block;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }
}

@media (min-width: $screen-sm) {
  .field-checkbox-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    margin-left: 206px;

    &::before {
      display: none;
    }
  }
}

@media (min-width: $screen-md) {
  .field-checkbox-wrapper {
    max-width: 750px;
    margin-left: 206px;
  }
}
