.field-checkbox {
  display: block;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__text {
  position: relative;

  display: block;
  margin-bottom: 44px;
  padding: 0 62px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.058em;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    content: "";
    display: block;
    width: 40px;
    height: 39px;
  }

  &::before {
    border: 2px solid $grey;
  }

  &::after {
    left: 9px;

    display: none;
    width: 22px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.field-checkbox__input:checked + .field-checkbox__text::after {
  display: block;
}

@media (min-width: $screen-sm) {
  .field-checkbox {
    max-width: 232px;
    width: 100%;
    margin-bottom: 59px;
    padding-left: 93px;
  }

  .field-checkbox__text {
    margin: 0;
    padding: 0;

    word-break: break-word;

    &::before {
      transform: none;
      top: -15px;
      left: -80px;

      width: 54px;
      height: 52px;
    }

    &::after {
      transform: none;
      top: 0;
      left: -69px;

      width: 33px;
      height: 22px;
    }
  }
}

@media (min-width: $screen-md) {
  .field-checkbox {
    max-width: 224px;
    padding-left: 100px;
  }

  .field-checkbox__text {
    font-size: $font-size-m + 2;
    line-height: 1em;
  }
}
