.field-text__name {
  font-weight: 700;
  font-size: $m-font;
  line-height: $s-line-height;
}

.field-text__label-text {
  font-weight: 700;
  font-size: $m-font;
  line-height: $xs-line-height;
  color: $seafoam-blue;
}

.field-text__input {
  font: inherit;
  font-size: 17px;
  line-height: $s-line-height;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }
}
