.form__legend {
  font-weight: 700;
  font-size: $m-font;
  line-height: $xs-line-height;
  color: $seafoam-blue;
}

.form__attention-text {
  font-size: 14px;
  line-height: $xs-line-height;
  color: $greyish-black;
}
