.form {
  padding: 0 30px;
  padding-bottom: 55px;
}

.form__fieldset {
  position: relative;

  margin: 0;
  padding: 0;

  border: none;

  &::before {
    position: absolute;
    top: 8px;
    left: 62px;

    content: "";
    display: block;
    width: 198px;
    height: 1px;

    background-color: $color-secondary;
  }

  &--name {
    margin-bottom: 5px;

    &::before {
      top: 7px;
    }
  }

  &--tel {
    margin-bottom: 6px;

    &::before {
      top: 9px;
    }
  }

  &--email {
    margin-bottom: 8px;
  }
}

.form__legend {
  margin-bottom: 36px;
  margin-left: -3px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 0.941em;
  color: $color-secondary;
  text-transform: uppercase;

  &--color {
    margin-bottom: 37px;
  }

  &--name {
    margin-bottom: 29px;
  }
}

.form__attention-text {
  margin: 0;
  margin-bottom: 32px;

  font-size: $font-size + 1;
  line-height: 1.142em;
  color: $grey;
}

@media (min-width: $screen-sm) {
  .form {
    padding: 0;
  }

  .form__fieldset {
    position: relative;

    margin-bottom: 14px;
    padding: 0 50px;

    &::before {
      display: none;
    }

    &--color,
    &--tel,
    &--email {
      background-color: $grey-lightest;
    }

    &--type {
      margin-left: 198px;
      padding: 0;
    }

    &--color {
      margin-bottom: 37px;
      padding-top: 66px;
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 68px;
    }

    &--name {
      margin-bottom: 26px;
      padding-left: 218px;
    }

    &--tel {
      margin-bottom: 0;
      padding-top: 36px;
      padding-right: 50px;
      padding-left: 217px;
    }

    &--email {
      margin-bottom: 50px;
      padding-left: 217px;
      padding-top: 10px;
      padding-bottom: 49px;
    }

    &--more {
      margin: 0;
      padding-left: 217px;
    }
  }

  .form__legend {
    position: absolute;
    top: 2px;
    left: -149px;

    margin: 0;

    &--color {
      left: 49px;
      top: 68px;
    }

    &--name {
      top: 31px;
      left: 49px;
    }
  }

  .form__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 50px;
  }

  .form__button {
    order: -1;
    max-width: 230px;
    padding-top: 17px;
    padding-bottom: 16px;

    font-size: $font-size-m;
    line-height: 0.94em;
  }

  .form__attention-text {
    margin: 0;
    margin-top: -4px;

    font-size: $font-size-m;
    line-height: 1.76em;
  }
}

@media (min-width: $screen-md) {
  .form__fieldset {
    padding: 0 112px;

    &--type {
      margin-left: 206px;
      padding-left: 0;
      padding-top: 36px;
    }

    &--color {
      margin-bottom: 50px;
      padding-top: 64px;
      padding-bottom: 5px;
      padding-left: 0;
    }

    &--name {
      padding-left: 226px;
      padding-right: 226px;
    }

    &--tel {
      padding-top: 47px;
      padding-left: 226px;
      padding-right: 226px;
    }

    &--email {
      padding-top: 22px;
      padding-bottom: 50px;
      padding-left: 226px;
      padding-right: 226px;
    }

    &--more {
      padding-left: 226px;
      padding-right: 226px;
    }
  }

  .form__legend {
    top: 38px;
    left: -93px;

    &--color {
      top: 66px;
      left: 109px;
    }
  }

  .form__button-wrapper {
    padding-left: 226px;
    padding-right: 226px;
  }

  .form__attention-text {
    margin-top: -5px;
    margin-right: -3px;
  }
}
