.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 79px;

  box-shadow: 0 1px 0 0 $background-grey--darken, inset 0 1px 0 0 $background-grey--darken;
}

.logo img {
  width: 86px;
  height: 35px;
}
