.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;

  box-shadow: 0 1px 0 0 $background-grey--darken, inset 0 1px 0 0 $background-grey--darken;

  img {
    width: 86px;
    height: 35px;
  }
}

@media (min-width: $screen-sm) {
  .logo {
    padding: 0;

    box-shadow: none;
  }

  .logo__footer-img {
    width: 102px;
    height: 34px;
  }
}
