.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  padding-bottom: 15px;

  box-shadow: 0 1px 0 0 $grey-light, inset 0 1px 0 0 $grey-light;
}

.logo__img {
  width: 86px;
  height: 35px;
}

@media (min-width: $screen-sm) {
  .logo {
    margin-right: auto;
    padding: 0;

    box-shadow: none;

    picture {
      display: flex;
      flex-shrink: 0;
    }

    &:hover .logo__img,
    &:focus .logo__img {
      opacity: 0.6;
    }

    &:active .logo__img {
      opacity: 0.3;
    }
  }

  .logo__img {
    width: 112px;
    height: 46px;

    transition: opacity 0.2s ease;
  }

  .logo__footer-img {
    width: 102px;
    height: 34px;

    transition: fill 0.2s ease, opacity 0.2s ease;

    &:hover,
    &:focus {
      fill: $color-secondary--darken;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $screen-md) {
  .logo {
    margin-right: 101px;
  }

  .logo__img {
    width: 149px;
    height: 72px;
  }
}
