.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 32px;

  display: block;
  width: 21px;
  height: 20px;

  font-size: 0;
  border: none;
  background: url("../img/icon-menu-close.svg") no-repeat center;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__list-item {
  box-shadow: 0 1px 0 0 $background-grey--darken, inset 0 1px 0 0 $background-grey--darken;
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 28px 30px;
  padding-left: 77px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.411em;
  color: $color-main;
}
