.main-nav__toggle {
  position: absolute;
  top: 29px;
  right: 31px;

  display: block;
  width: 21px;
  height: 20px;

  font-size: 0;

  border: none;
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/icon-menu-open.svg") no-repeat center;
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/icon-menu-close.svg") no-repeat center;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__list-item {
  box-shadow: 0 1px 0 0 $grey-light, inset 0 1px 0 0 $grey-light;
}

.main-nav__link {
  position: relative;

  display: block;
  width: 100%;
  padding: 28px 30px;
  padding-left: 77px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.411em;
  color: $color-main;

  &--search:hover .main-nav__search-img {
    fill: $color-secondary;
    opacity: 1;
    transition: all 0.2s ease;
  }

  &--search:active .main-nav__search-img {
    opacity: 0.3;
  }

  &--cart:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.2s ease;

    .main-nav__cart-img {
      opacity: 1;
      fill: $color-secondary;
      transition: all 0.2s ease;
    }
  }

  &--cart:active {
    opacity: 0.3;
  }
}

.main-nav__search-img,
.main-nav__cart-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 32px;

  opacity: 0.2;
}

@media (max-width: $screen-sm - 1) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }
}

@media (min-width: $screen-sm) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    margin-left: -457px;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__list-item {
    display: flex;
    flex-shrink: 0;

    background-color: #ffffff;
    box-shadow: none;
  }

  .main-nav__link {
    display: flex;
    align-items: center;
    padding: 32px 0;
    padding-bottom: 33px;

    &--search {
      padding-left: 32px;
      padding-right: 32px;

      font-size: 0;

      border-left: 1px solid $grey-light;
      border-right: 1px solid $grey-light;
    }
  }

  .main-nav__search-text {
    display: none;
  }

  .main-nav__search-img {
    position: static;
    transform: none;

    width: 18px;
    height: 18px;
  }

  .main-nav__cart-img {
    position: static;
    transform: none;

    margin: 0 31px;
  }
}

@media (min-width: $screen-md) {
  .main-nav {
    margin: 0;
  }

  .main-nav__cart-img {
    margin-right: 32px;
  }

  .main-nav__link {
    height: 89px;
    padding-top: 28px;
    padding-right: 2px;

    &--search {
      padding: 32px;
    }
  }
}
