.modal-basket__title {
  font-weight: 700;
  font-size: $lg-font;
  line-height: $lg-line-height;
}

.modal-basket__size {
  font-size: $s-font;
  line-height: $lg-line-height;
  color: $greyish-black;
}

.modal-basket__size-tag {
  font-weight: 700;
  font-size: $m-font;
  line-height: $xs-line-height;
  color: $greyish-black;
}
