.modal-basket__title {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.modal-basket__size {
  font-size: 15px;
  line-height: 30px;
  color: $greyish-black;
}

.modal-basket__size-tag {
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $greyish-black;
}
