.page-main {
  max-width: 320px;
  margin: 0 auto;
}

.page-main__title {
  margin: 0;
  padding: 75px 36px;

  font-weight: 700;
  font-size: $font-size-xl;
  line-height: 1.1em;
  text-align: center;

  background: $grey-lightest;
}

.page-main__shipping {
  display: none;
}

.page-main__intro {
  margin: 30px;

  line-height: 1.85em;
  color: $grey;
}

.page-main__cards {
  padding: 30px;
  padding-bottom: 0;
}

@media (min-width: $screen-sm) {
  .page-main {
    position: relative;

    max-width: $screen-sm;
  }

  .page-main__shipping {
    position: absolute;
    top: 25px;
    right: 52px;

    display: block;

    font-size: $font-size-s;
    line-height: 1.6em;
    color: $grey;
  }

  .page-main__title {
    padding-top: 99px;
    padding-bottom: 78px;

    font-size: 43px;
    line-height: 1.16em;

    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 101% 23px;
  }

  .page-main__intro {
    margin: 68px 52px;
    margin-bottom: 80px;

    font-size: $font-size-m;
    line-height: 1.76em;
  }

  .page-main__cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 79px 50px;
    padding-bottom: 0;
  }
}

@media (min-width: $screen-md) {
  .page-main {
    max-width: $screen-md;
  }

  .page-main__title {
    padding-bottom: 99px;

    font-size: 53px;
    line-height: 1.08em;

    background-size: 100% 34px;
  }

  .page-main__cards {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 128px;
  }

  .page-main__intro {
    max-width: 672px;
    margin: 80px auto;
    margin-top: 112px;
  }
}
