.page-footer {
  background-color: $grey-lightest;
}

.page-footer__inner-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $screen-sm) {
  .page-footer__inner-wrapper {
    max-width: $screen-sm;
    padding: 50px;
    padding-top: 52px;
  }

  .page-footer__logo {
    display: flex;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: $screen-md) {
  .page-footer__inner-wrapper {
    max-width: $screen-md;
    padding-bottom: 60px;
    padding-top: 51px;
  }

  .page-footer__logo {
    margin-bottom: 8px;
  }
}
