.products {
  background: url("../img/hero-mobile@1x.jpg") no-repeat center;
}

.products__title {
  font-weight: 700;
  font-size: $xlg-font;
  line-height: $lg-line-height;
  color: #010000;
}

.products__item--light-green {
  background-color: $seafoam-blue;
}

.products__item--dark-green {
  background-color: $seafoam-dark-blue;
}

.products__link {
  font-weight: 700;
  font-size: 19px;
  color: #ffffff;
}
