.products {
  background: $grey-lighter url("../img/hero-mobile@1x.jpg") no-repeat center -18px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: $grey-lighter url("../img/hero-mobile@2x.jpg") no-repeat center -18px;
    background-size: 575px auto;
  }
}

.products__inner-wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 72px;
}

.products__title {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 124px;

  font-weight: 700;
  font-size: $font-size-xl;
  line-height: 1.1em;
  color: $color-main;
  text-align: center;
}

.products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.products__item {
  background-color: $color-secondary;

  &:hover {
    background-color: $color-secondary--light;

    .products__link-img {
      opacity: 0.7;
    }
  }

  &:active .products__link-img {
    opacity: 0.3;
  }

  &--dark-green {
    background-color: $color-secondary--dark;

    &:hover {
      background-color: $color-secondary--darken;
    }
  }
}

.products__link {
  display: flex;
  justify-content: space-between;
  height: 103px;
  padding: 27px 30px;
  padding-right: 27px;

  font-weight: 700;
  font-size: $font-size-m + 2;
  line-height: 1.263em;
  color: #ffffff;

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.products__link-img {
  align-self: center;

  fill: #149080;
  opacity: 0.5;

  &--interior {
    margin-right: 9px;
    margin-top: 3px;
  }
}

.products__shipping {
  display: none;
}

@media (min-width: $screen-sm) {
  .products {
    background: $grey-lighter url("../img/hero-tablet@1x.jpg") no-repeat top center;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: $grey-lighter url("../img/hero-tablet@2x.jpg") no-repeat top center;
      background-size: 1150px auto;
    }
  }

  .products__inner-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    max-width: $screen-sm;
    min-height: 746px;
    padding: 0 50px;
    padding-top: 154px;

    &::before {
      position: absolute;
      bottom: -10px;
      left: 0;

      content: "";
      display: block;
      width: 100%;
      height: 22px;

      background: url("../img/bg-zigzag-fill.svg") no-repeat top center;
      background-size: 100%;
    }
  }

  .products__shipping {
    position: absolute;
    top: 17px;
    right: 50px;

    display: block;

    font-size: $font-size-s;
    line-height: 1.6em;
    color: $grey;
  }

  .products__title {
    align-self: center;   //ie11 fix
    max-width: 500px;
    margin-bottom: 374px; //ie11 fix

    font-size: 43px;
    line-height: 1.16em;

    br {
      display: none;
    }
  }

  .products__list {
    display: flex;
  }

  .products__item {
    width: 100%;

    &--interior:hover,
    &--dark-green:hover {
      height: 125px;
      margin-top: -5px;
    }
  }

  .products__link {
    height: 120px;
    padding: 28px 36px;
    padding-bottom: 16px;

    font-size: $font-size-m + 3;
    line-height: 1.5em;
  }

  .products__link-img {
    align-self: auto;

    &--interior {
      margin: 0;
    }
  }
}

@media (min-width: $screen-md) {
  .products {
    background: $grey-lighter url("../img/hero-desktop@1x.jpg") no-repeat center -2px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: $grey-lighter url("../img/hero-desktop@2x.jpg") no-repeat center -2px;
      background-size: 1150px auto;
    }
  }

  .products__inner-wrapper {
    max-width: $screen-md;
    padding: 0 50px;
    padding-top: 152px;

    &::before {
      height: 28px;

      background: url("../img/bg-zigzag-fill.svg") no-repeat 0 0;
    }
  }

  .products__shipping {
    top: 16px;
  }

  .products__title {
    max-width: 620px;

    font-size: 53px;
    line-height: 1.08em;

    br:last-child {
      display: block;
    }
  }
}
