.review__title {
  font-weight: 700;
  font-size: $font-size-l;
  line-height: $line-height-l;
}

.review__quote p {
  font-size: $font-size-s;
  line-height: $line-height-l;
  color: $grey;
}

.review__author {
  font-weight: 700;
  font-size: $font-size-m;
  color: $grey;
}

.review__author-login {
  font-size: $font-size-m;
  line-height: $line-height-l;
  color: $grey;
}
