.review__title {
  font-weight: 700;
  font-size: $lg-font;
  line-height: $lg-line-height;
}

.review__quote p {
  font-size: $s-font;
  line-height: $lg-line-height;
  color: $greyish-black;
}

.review__author {
  font-weight: 700;
  font-size: $m-font;
  color: $greyish-black;
}

.review__author-login {
  font-size: $m-font;
  line-height: $lg-line-height;
  color: $greyish-black;
}
