.review__title {
  font-weight: 700;
  font-size: $font-size-l;
  line-height: 1.2em;
}

.review__quote p {
  font-size: $font-size-s;
  line-height: 2em;
  color: $grey;
}

.review__author {
  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.411em;
  color: $grey;
}

.review__author-login {
  font-size: $font-size-m;
  line-height: 1.764em;
  color: $grey;
}
