.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 258px;
  margin: 0 auto;
  padding: 25px;

  font-size: 0;
  list-style: none;

  border-bottom: 1px solid $grey-lighten;

  &--catalog,
  &--form {
    max-width: 204px;
  }
}

.social__item {
  margin-right: 29px;

  &:last-child {
    margin-right: 0;
  }

  &--insta {
    margin-left: 26px;
    margin-right: 30px;
  }

  &--fb {
    margin-right: 28px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  transition: fill 0.2s ease, opacity 0.2s ease;

  &:hover,
  &:focus {
    fill: $color-secondary--darken;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__insta {
  width: 21px;
  height: 22px;
}

.social__fb {
  width: 15px;
  height: 28px;
}

.social__twitter {
  width: 23px;
  height: 20px;
}

@media (min-width: $screen-sm) {
  .social {
    display: flex;
    align-items: center;
  }

  .social__list {
    margin: 0;
    margin-left: 128px;
    margin-right: auto;
    padding: 0;

    border: none;

    &--catalog {
      margin-left: 156px;
      padding-top: 8px;
    }

    &--form {
      margin-left: 156px;
      padding-top: 9px;
    }
  }
}

@media (min-width: $screen-md) {
  .social__list {
    margin-left: 319px;

    &--catalog,
    &--form {
      margin-left: 346px;
    }
  }
}
