.top-product__title {
  font-weight: 700;
  font-size: $font-size-l;
  line-height: $line-height-l;
}

.top-product__tag {
  font-weight: 700;
  font-size: $font-size-m;
  line-height: 20px;
  color: $color-secondary;
}

.top-product__info p {
  font-size: $font-size-s;
  color: $grey;
}

.top-product__feature {
  font-size: $font-size-s;
  line-height: 20px;
  color: $grey;
  font-weight: normal;
}

.top-product__price {
  font-weight: 700;
  font-size: $font-size-m;
  color: $grey;
}
