.top-product__title {
  font-weight: 700;
  font-size: $lg-font;
  line-height: $lg-line-height;
}

.top-product__tag {
  font-weight: 700;
  font-size: $m-font;
  line-height: 20px;
  color: $seafoam-blue;
}

.top-product__info p {
  font-size: $s-font;
  color: $greyish-black;
}

.top-product__feature {
  font-size: $s-font;
  line-height: 20px;
  color: $greyish-black;
  font-weight: normal;
}

.top-product__price {
  font-weight: 700;
  font-size: $m-font;
  color: $greyish-black;
}
