.user-nav__info {
  display: none;
}

@media (max-width: 767px) {
  .user-nav--closed .user-list {
    display: none;
  }

  .user-nav--nojs .user-list {
    display: block;
  }
}

@media (min-width: $screen-sm) {
  .user-nav {
    position: relative;
    z-index: 1;
    top: 74px;
    left: -437px;
  }
}

@media (min-width: $screen-md) {
  .user-nav {
    top: auto;
    left: auto;

    order: -1;
    max-width: 375px;

    margin-right: 75px;
  }
}
