.user-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-list__sub-list {
  display: none;
}

.user-list__item {
  box-shadow: 0 1px 0 0 $grey-light, inset 0 1px 0 0 $grey-light;
}

.user-list__link {
  display: block;
  width: 100%;
  padding: 28px 30px;
  padding-left: 77px;

  font-weight: 700;
  font-size: $font-size-m;
  line-height: 1.411em;
  color: $color-main;
}

@media (min-width: $screen-sm) {
  .user-list {
    display: flex;
    width: 100%;
  }

  .user-list__item {
    margin-right: 37px;

    box-shadow: none;
  }

  .user-list__link {
    display: block;
    padding: 25px 0;

    font-size: $font-size-s;
    line-height: 1.6em;

    background-color: transparent;
  }
}

@media (min-width: $screen-md) {
  .user-list {
    flex-wrap: wrap;
    height: 88px;
  }

  .user-list .user-list__item {
    display: block;
  }

  .user-list > .user-list__item {
    margin: 0;
  }

  .user-list .user-list__link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: $font-size-m;
    line-height: 1.41em;

    &--catalog {
      padding-top: 30px;
      padding-right: 35px;
      border-right: 1px solid $grey-light;
    }

    &--order {
      position: relative;
      top: -88px;
      left: 185px;

      padding-left: 35px;
    }
  }

  .user-list__sub-list {
    position: relative;
    top: -84px;

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;
  }

  .user-list__sub-list .user-list__item {
    margin: 0;

    &:first-child {
      margin-right: 60px;
    }
  }

  .user-list__sub-list .user-list__link {
    padding: 17px 0;

    font-size: $font-size-s;
    line-height: 1.6em;
  }
}
