.button {
  width: 100%;
  padding: 15px 20px;
  padding-bottom: 14px;

  border: 2px solid $grey;
  background-color: transparent;

  font-weight: 700;
  font-size: $font-size-m + 1;
  line-height: 1.111em;
  color: $grey;
  text-transform: uppercase;
  cursor: pointer;
  word-break: break-word;
  transition: all 0.2s ease;

  &:hover {
    color: #ffffff;

    background-color: $grey;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
