$color-main:            #000000;
$grey-lightest:         #f1f1f1;
$grey-lighter:          #f9f9f9;
$grey-lighten:          #e5e5e5;
$grey-light:            #ececec;
$grey:                  #444444;
$color-secondary:       #63d1bb;
$color-secondary--dark: #56c3b2;

$font-size:    13px;
$font-size-s:  15px;
$font-size-m:  17px;
$font-size-l:  25px;
$font-size-xl: 27px;

$line-height: 1.846em;

$screen-sm: 768px;
$screen-md: 1150px;
