$color-main:            #000000;
$grey:                  #444444;
$color-secondary:       #63d1bb;
$color-secondary--dark: #56c3b2;

$font-size:    13px;
$font-size-s:  15px;
$font-size-m:  17px;
$font-size-l:  25px;
$font-size-xl: 27px;

$line-height:    24px;
$line-height-xs: 0.666em;
$line-height-s:  0.75em;
$line-height-l:  1.25em;

$screen-sm: 768px;
$screen-md: 1150px;
